In [7]:
import pandas as pd  
tweets = pd.read_csv("saved_tweets.csv", header=None, names=['hashtags', 'text', 'user', 'user_location'])  
print('num tweets: {}'.format(len(tweets)))
tweets.head()

num tweets: 183

,hashtags,text,user,user_location
0,"['funniness', 'snicker', 'grin', 'laughable']",gotta love the funniness #funniness #snicker #...,JaimCou,"Austin, TX"
1,['kwibuka25'],International Day of Reflection on the 1994 Ge...,MaherNasserUN,"New York, USA"
2,"['AANS2019', 'nsgy', 'SanDiego']",Following ⁦@EKNduom⁩ to spread #AANS2019 - dat...,patelnv,"New York, NY"
3,"['teacher5aday', 'SanFrancisco']",Sunset from the apartment #teacher5aday #SanFr...,Eng_media_film,"Liverpool, England"
4,"['toldyou', '2019WorldSeriesChampions']",@friarphilSD @sdraider75 How does it feel look...,realdavidalbizo,"San Francisco, CA"